{% extends "base/base.html" %}


{% block title %}
    Limpieza
{% endblock %}

{% block titulo %}
    Limpieza
{% endblock %}

{% block header%}
{% endblock %}

{% block content %}
    <div class="m-portlet" id="seccionIdPrincipal">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                Limpieza
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin::Section-->
            <div class="m-section">
                <div class="m-section__content">
                    <p>DB Limpia</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}


