{% extends "base/base.html" %}
{% load staticfiles %}

{% block title %}
    Configuración Inicial
{% endblock %}

{% block titulo %}
	Configuración Inicial
{% endblock %}
{% block header%}
{% endblock %}

{% block content %}

	<div class="m-portlet m-portlet--bordered-semi m-portlet--full-height ">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Trends
					</h3>
				</div>
			</div>
			<div class="m-portlet__head-tools">
				<ul class="m-portlet__nav">
					<li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push" m-dropdown-toggle="hover" aria-expanded="true">
						<a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
						All
						</a>
						<div class="m-dropdown__wrapper" style="z-index: 101;">
							<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust" style="left: auto; right: 38.5px;"></span>
							<div class="m-dropdown__inner">
								<div class="m-dropdown__body">
									<div class="m-dropdown__content">
										<ul class="m-nav">
											<li class="m-nav__item">
												<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">Activity</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">Messages</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">FAQ</span>
												</a>
											</li>
											<li class="m-nav__item">
												<a href="" class="m-nav__link">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">Support</span>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Widget5-->
			<div class="m-widget4">
				<div class="m-widget4__chart m-portlet-fit--sides m--margin-top-10 m--margin-top-20" style="height:260px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
					<canvas id="m_chart_trends_stats" width="510" height="260" class="chartjs-render-monitor" style="display: block; width: 510px; height: 260px;"></canvas>
				</div>
				<div class="m-widget4__item">
					<div class="m-widget4__img m-widget4__img--logo">							 
						<img src=" {% static 'assets/app/media/img/client-logos/logo3.png' %} " alt="">
					</div>
					<div class="m-widget4__info">
						<span class="m-widget4__title">
						Personas  
						</span><br> 
						<span class="m-widget4__sub">
						Personas Creadas
						</span>		 
					</div>
					<span class="m-widget4__ext">

						<span class="m-widget4__number m--font-danger">{{personas}}</span>
					</span>	
				</div>
				<div class="m-widget4__item">
					<div class="m-widget4__img m-widget4__img--logo">									 
						<img src="{% static 'assets/app/media/img/client-logos/logo1.png' %}" alt="">
					</div>
					<div class="m-widget4__info">
						<span class="m-widget4__title">
						Obligaciones 
						</span><br> 
						<span class="m-widget4__sub">
						Obligaciones Creadas
						</span>		 
					</div>
					<span class="m-widget4__ext">
						<span class="m-widget4__number m--font-danger">{{obligaciones}}</span>
					</span>	
				</div>
				<div class="m-widget4__item">
					<div class="m-widget4__img m-widget4__img--logo">									 
						<img src="{% static 'assets/app/media/img/client-logos/logo2.png' %}" alt="">
					</div>
					<div class="m-widget4__info">
						<span class="m-widget4__title">
						Telefonos
						</span><br> 
						<span class="m-widget4__sub">
						Telefonos Creados
						</span>		 
					</div>
					<span class="m-widget4__ext">
						<span class="m-widget4__number m--font-danger">{{telefonos}}</span>
					</span>	
				</div>
				<div class="m-widget4__item">
					<div class="m-widget4__img m-widget4__img--logo">									 
						<img src="{% static 'assets/app/media/img/client-logos/logo2.png' %}" alt="">
					</div>
					<div class="m-widget4__info">
						<span class="m-widget4__title">
						Email
						</span><br> 
						<span class="m-widget4__sub">
						Email Creados
						</span>		 
					</div>
					<span class="m-widget4__ext">
						<span class="m-widget4__number m--font-danger">{{correos}}</span>
					</span>	
				</div>
			</div>
			<!--end::Widget 5-->				 
		</div>
	</div>
{% endblock %}
{% block javascript %}
	<!-- <script>
		$(function() {
			function nobackbutton(){
				alert(7858);
			   window.location.hash="no-back-button";
				
			   window.location.hash="Again-No-back-button" //chrome

			   window.onhashchange=function(){window.location.hash="no-back-button";}
			}
		})
	</script> -->
{% endblock %}	
{% block footer %}
{% endblock %}

