{% extends "base/base.html" %}


{% block title %}
    Tipo Cargues
{% endblock %}

{% block titulo %}
	Tipos De Cargues
{% endblock %}
{% block header%}
{% endblock %}

{% block content %}
	<div class="m-portlet">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<span class="m-portlet__head-icon m--hide">
					<i class="la la-gear"></i>
					</span>
					<h3 class="m-portlet__head-text">
						Crear Tipos De Cargues
					</h3>
				</div>
			</div>
		</div>
		<form class="m-form" method="post">
			{% csrf_token %}
			<div class="m-portlet__body">	
				<div class="m-form__section m-form__section--first">
					<h3 class="title">Desea eliminar el registro de:  {{deleteTipo.tipocarguenombre}}</h3>
	            </div>
            </div>
            <div class="m-portlet__foot m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" class="btn btn-success m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-block">Eliminar</button>
						</div>
						<div class="col-lg-6">
							<a href="{% url 'tipocargueslistar' %}" class="btn btn-danger m-btn m-btn--custom m-btn--icon m-btn--pill m-btn--air btn-block">Cancelar</a>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}