{% extends "base/base.html" %}
{% block title %}
    TUACUERDO.COM
{% endblock %}
{% block header%}
{% endblock %}
{% block content %}
<form id="form1" name="form1" method="post" action="" class="form-horizontal" role="form">
<div class="container">
	<header class="funnel-header"></header>
	<div class="row">
    	 <div class="col-lg-12">
        	 <div class="panel panel-default">
        	 	<div class="panel-heading">Intelibpo - Cobranza Virtual - TUACUERDO</div>
				 <div class="panel-body">
				 	<div class="form-group">
				 		<fieldset class="col-lg-12">    	
				 			<div class="jumbotron">
				 				<h2>¡Correo enviado !</h2>
				 				<h5>                                    			
				 					Te estaremos recordando de los pagos ¡Feliz Dia!</h5>
				 				</div>
				 				<img src="../../static/img/Enhorabuena.png" width="650" height="400">

				 			</fieldset>
				 	</div>

			 </div>
		 </div>
		 
	    </div>
    </div>
    <footer class="funnel-footer"></footer>
</div>
</form>
{% endblock %}
{% block footer %}

{% endblock %}
